<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Aurobindo Gupta" />
  <meta name="description" content="Personal Ecommerce Website" />
  <link rel="icon" type="image/x-icon" href="Utils/images/iconpanda16.ico" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://panda-ui-neog.netlify.app/rootStyles.css" />
  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="styles.css" />
  <title>Ecommerce</title>
</head>

<body>
  <!-- ................BASE CONTAINER............. -->
  <div class="baseContainer">
    <!-- ................NAV BAR............. -->

    <nav class="navBar">
      <div class="heroContainer">
        <p class="heroTitle" onclick="window.location.href='/'">MyWebsite</p>
      </div>
      <div class="navBar-searchBar">
        <form class="searchBar">
          <input class="searchBar-input" placeholder="Search" />
        </form>
      </div>
      <ul class="navLinks">
        <li class="navLinksBtn">
          <button class="btn btn-secondary btn-outlined logout" onclick="window.location.href='/components/loginPg/index.html'">LogOut</button>
        </li>
        <li class="navLinksBtn">
          <div class="ic-badge container">
            <i class="fa fa-heart ic"></i>
            <div class="iconBadge">3</div>
          </div>
        </li>
        <li class="navLinksBtn" onclick="window.location.href='/components/cartPg/index.html'">
          <div class="ic-badge Container">
            <i class="fa fa-shopping-cart ic"></i>
            <div class="iconBadge">0</div>
          </div>
        </li>
      </ul>
    </nav>
    <!-- ................NAV BAR............. -->
    <!-- ................PAGE CONTENT ............................... -->

    <div class="page-content">
      <p class="wishlist-pg-title fw-bold fs-M">My CART(2)</p>
      <div class="wishlist-pg">
        <div class="cart-content">
          <div class="card">
            <div class="card-img-container">
              <i class="fa fa-heart icon-badge"></i>
              <img
                class="card-img"
                src="/Utils/images/image 1.png"
                alt="Card image"
              />
            </div>
            <div class="card-title">
              <p class="title-heading">Winter Jacket</p>
              <p class="title-subHeading">Sub-title</p>
              <div class="price">
                <p class="current-price">Rs. 2500</p>
              </div>
            </div>
            <div class="card-button">
              <button class="btn btn-secondary button-add">
                Move to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="cart-content">
          <div class="card">
            <div class="card-img-container">
              <i class="fa fa-heart icon-badge"></i>
              <img
                class="card-img"
                src="/Utils/images/image 1.png"
                alt="Card image"
              />
            </div>
            <div class="card-title">
              <p class="title-heading">Winter Jacket</p>
              <p class="title-subHeading">Sub-title</p>
              <div class="price">
                <p class="current-price">Rs. 2500</p>
              </div>
            </div>
            <div class="card-button">
              <button class="btn btn-secondary button-add">
                Move to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="cart-content">
          <div class="card">
            <div class="card-img-container">
              <i class="fa fa-heart icon-badge"></i>
              <img
                class="card-img"
                src="/Utils/images/image 1.png"
                alt="Card image"
              />
            </div>
            <div class="card-title">
              <p class="title-heading">Winter Jacket</p>
              <p class="title-subHeading">Sub-title</p>
              <div class="price">
                <p class="current-price">Rs. 2500</p>
              </div>
            </div>
            <div class="card-button">
              <button class="btn btn-secondary button-add">
                Move to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="cart-content">
          <div class="card">
            <div class="card-img-container">
              <i class="fa fa-heart icon-badge"></i>
              <img
                class="card-img"
                src="/Utils/images/image 1.png"
                alt="Card image"
              />
            </div>
            <div class="card-title">
              <p class="title-heading">Winter Jacket</p>
              <p class="title-subHeading">Sub-title</p>
              <div class="price">
                <p class="current-price">Rs. 2500</p>
              </div>
            </div>
            <div class="card-button">
              <button class="btn btn-secondary button-add">
                Move to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="cart-content">
          <div class="card">
            <div class="card-img-container">
              <i class="fa fa-heart icon-badge"></i>
              <img
                class="card-img"
                src="/Utils/images/image 1.png"
                alt="Card image"
              />
            </div>
            <div class="card-title">
              <p class="title-heading">Winter Jacket</p>
              <p class="title-subHeading">Sub-title</p>
              <div class="price">
                <p class="current-price">Rs. 2500</p>
              </div>
            </div>
            <div class="card-button">
              <button class="btn btn-secondary button-add">
                Move to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="cart-content">
          <div class="card">
            <div class="card-img-container">
              <i class="fa fa-heart icon-badge"></i>
              <img
                class="card-img"
                src="/Utils/images/image 1.png"
                alt="Card image"
              />
            </div>
            <div class="card-title">
              <p class="title-heading">Winter Jacket</p>
              <p class="title-subHeading">Sub-title</p>
              <div class="price">
                <p class="current-price">Rs. 2500</p>
              </div>
            </div>
            <div class="card-button">
              <button class="btn btn-secondary button-add">
                Move to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="cart-content">
          <div class="card">
            <div class="card-img-container">
              <i class="fa fa-heart icon-badge"></i>
              <img
                class="card-img"
                src="/Utils/images/image 1.png"
                alt="Card image"
              />
            </div>
            <div class="card-title">
              <p class="title-heading">Winter Jacket</p>
              <p class="title-subHeading">Sub-title</p>
              <div class="price">
                <p class="current-price">Rs. 2500</p>
              </div>
            </div>
            <div class="card-button">
              <button class="btn btn-secondary button-add">
                Move to Cart
              </button>
            </div>
          </div>
        </div>
        <div class="cart-content">
          <div class="card">
            <div class="card-img-container">
              <i class="fa fa-heart icon-badge"></i>
              <img
                class="card-img"
                src="/Utils/images/image 1.png"
                alt="Card image"
              />
            </div>
            <div class="card-title">
              <p class="title-heading">Winter Jacket</p>
              <p class="title-subHeading">Sub-title</p>
              <div class="price">
                <p class="current-price">Rs. 2500</p>
              </div>
            </div>
            <div class="card-button">
              <button class="btn btn-secondary button-add">
                Move to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- ................PAGE CONTENT ............................... -->
      <!-- ................FOOTER ............................... -->

      <!-- ................FOOTER ............................... -->
    </div>
    <!-- ................BASE CONTAINER............. -->
</body>

</html>