
.page-content {
  max-height: fit-content;
  width: 100%;
}
.product-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.sideNav {
  flex-grow: 2;
  min-width: fit-content;
  background: var(--stdWhite-color);
  height: 100%;
}
.main-content {
  padding: 2.25rem;
  flex-grow: 5;
}
.sideNav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideNav-content {
  height: fit-content;
}
.slider {
  width: 100%;
}
.slider-values {
  display: flex;
  justify-content: space-between;
}
.checkbox {
  display: flex;
  flex-direction: column;
}
.rating {
  display: flex;
  flex-direction: column;
}
.sideNav-title {
  padding: 1rem 0;
}

.indi-product {
  width: fit-content;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.card-img-container{
  background: var(--primary-color);
}
.product-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
